/dts-v1/;

/ {
	model = "icesugar";
	compatible = "jcore,j2-soc";
	#address-cells = <1>;
	#size-cells = <1>;
	interrupt-parent = <&aic>;

	chosen { };

	cpus {
		#address-cells = <1>;
		#size-cells = <0>;


		cpu@0 {
			device_type = "cpu";
			compatible = "jcore,j2";
			clock-frequency = <12048192>;
			reg = <0>;
		};
	};

	clocks {

		bus_clock: bus_clock {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <12048192>;
		};
	};

	memory@10000000 {
		device_type = "memory";
		reg = <0x10000000 0x8000000>;
	};

	soc@abcd0000 {
		compatible = "simple-bus";
		ranges = <0x0 0xabcd0000 0x1008>;
		#address-cells = <1>;
		#size-cells = <1>;

		cycle_counter {
			compatible = "jcore,cycle-counter";
			reg = <0x200 0x8>; // ABCD0200-ABCD0207
		};

		gpio2 {
			compatible = "jcore,gpio2";
			reg = <0x0 0x10>; // ABCD0000-ABCD000F
		};

		serial {
			compatible = "jcore,uartlite", "xlnx,xps-uartlite-1.00.a";
			device_type = "serial";
			reg = <0x100 0x10>; // ABCD0100-ABCD010F
		};

		spi {
			#address-cells = <1>;
			#size-cells = <0>;
			clock-names = "ref_clk";
			clocks = <&bus_clock>;
			compatible = "jcore,spi2";
			spi-max-frequency = <25000000>;
			status = "ok";
			reg = <0x1000 0x8>; // ABCD1000-ABCD1007

			sdcard@0 {
				compatible = "mmc-spi-slot";
				reg = <0>;
				spi-max-frequency = <25000000>;
				voltage-ranges = <3200 3400>;
				mode = <0>;
			};

			m25p80@1 {
				compatible = "s25fl164k", "jedec,spi-nor";
				#address-cells = <1>;
				#size-cells = <1>;
				spi-max-frequency = <25000000>;
				reg = <1>;
				mode = <0>;
				m25p,fast-read;

				partition@0 {
					label = "spi_flash";
					reg = <0 0>;
				};
			};
		};
	};

	cpuid {
		compatible = "jcore,cpuid-mmio";
		reg = <0xabcd0600 0x4>;
	};
};
