LOCATE COMP "pin_btn0" SITE "D6";
IOBUF PORT "pin_btn0" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_btn1" SITE "C7";
IOBUF PORT "pin_btn1" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_btn2" SITE "A7";
IOBUF PORT "pin_btn2" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_btn3" SITE "A8";
IOBUF PORT "pin_btn3" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_btn4" SITE "C8";
IOBUF PORT "pin_btn4" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_btn5" SITE "D8";
IOBUF PORT "pin_btn5" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_btn6" SITE "D7";
IOBUF PORT "pin_btn6" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_clk_25mhz" SITE "G2";
IOBUF PORT "pin_clk_25mhz" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_ftdi_rxd" SITE "M1";
IOBUF PORT "pin_ftdi_rxd" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_ftdi_txd" SITE "L4";
IOBUF PORT "pin_ftdi_txd" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led0" SITE "B2";
IOBUF PORT "pin_led0" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led1" SITE "C2";
IOBUF PORT "pin_led1" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led2" SITE "C1";
IOBUF PORT "pin_led2" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led3" SITE "D1";
IOBUF PORT "pin_led3" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led4" SITE "E2";
IOBUF PORT "pin_led4" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led5" SITE "E1";
IOBUF PORT "pin_led5" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led6" SITE "H3";
IOBUF PORT "pin_led6" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_led7" SITE "J3";
IOBUF PORT "pin_led7" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sd_clk" SITE "K2";
IOBUF PORT "pin_sd_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sd_cmd" SITE "J1";
IOBUF PORT "pin_sd_cmd" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sd_d0" SITE "L2";
IOBUF PORT "pin_sd_d0" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sd_d3" SITE "K1";
IOBUF PORT "pin_sd_d3" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a0" SITE "M20";
IOBUF PORT "pin_sdram_a0" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a1" SITE "M19";
IOBUF PORT "pin_sdram_a1" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a2" SITE "L20";
IOBUF PORT "pin_sdram_a2" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a3" SITE "L19";
IOBUF PORT "pin_sdram_a3" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a4" SITE "K20";
IOBUF PORT "pin_sdram_a4" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a5" SITE "K19";
IOBUF PORT "pin_sdram_a5" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a6" SITE "K18";
IOBUF PORT "pin_sdram_a6" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a7" SITE "J20";
IOBUF PORT "pin_sdram_a7" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a8" SITE "J19";
IOBUF PORT "pin_sdram_a8" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a9" SITE "H20";
IOBUF PORT "pin_sdram_a9" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a10" SITE "N19";
IOBUF PORT "pin_sdram_a10" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a11" SITE "G20";
IOBUF PORT "pin_sdram_a11" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_a12" SITE "G19";
IOBUF PORT "pin_sdram_a12" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_ba0" SITE "P19";
IOBUF PORT "pin_sdram_ba0" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_ba1" SITE "N20";
IOBUF PORT "pin_sdram_ba1" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_casn" SITE "T19";
IOBUF PORT "pin_sdram_casn" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_cke" SITE "F20";
IOBUF PORT "pin_sdram_cke" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_clk" SITE "F19";
IOBUF PORT "pin_sdram_clk" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_csn" SITE "P20";
IOBUF PORT "pin_sdram_csn" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d0" SITE "J16";
IOBUF PORT "pin_sdram_d0" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d1" SITE "L18";
IOBUF PORT "pin_sdram_d1" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d2" SITE "M18";
IOBUF PORT "pin_sdram_d2" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d3" SITE "N18";
IOBUF PORT "pin_sdram_d3" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d4" SITE "P18";
IOBUF PORT "pin_sdram_d4" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d5" SITE "T18";
IOBUF PORT "pin_sdram_d5" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d6" SITE "T17";
IOBUF PORT "pin_sdram_d6" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d7" SITE "U20";
IOBUF PORT "pin_sdram_d7" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d8" SITE "E19";
IOBUF PORT "pin_sdram_d8" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d9" SITE "D20";
IOBUF PORT "pin_sdram_d9" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d10" SITE "D19";
IOBUF PORT "pin_sdram_d10" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d11" SITE "C20";
IOBUF PORT "pin_sdram_d11" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d12" SITE "E18";
IOBUF PORT "pin_sdram_d12" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d13" SITE "F18";
IOBUF PORT "pin_sdram_d13" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d14" SITE "J18";
IOBUF PORT "pin_sdram_d14" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_d15" SITE "J17";
IOBUF PORT "pin_sdram_d15" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_dqm0" SITE "U19";
IOBUF PORT "pin_sdram_dqm0" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_dqm1" SITE "E20";
IOBUF PORT "pin_sdram_dqm1" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_rasn" SITE "R20";
IOBUF PORT "pin_sdram_rasn" IO_TYPE=LVCMOS33;
LOCATE COMP "pin_sdram_wen" SITE "T20";
IOBUF PORT "pin_sdram_wen" IO_TYPE=LVCMOS33;
